<div class="footer" style="z-index: 99;">
  <div class="footer-links">
    <% if current_page?(root_path) %>
      <a href="../mention.html">Mentions légales</a>
    <% else %>
      <a href="<%= root_path %>">Page d'accueil</a>
    <% end %>
    <a href="https://www.facebook.com/Ga14-Groupement-Des-Artisans-927608267376647/">Suivez nous sur <i class="fab fa-facebook"></i></a>
    <p data-toggle="modal" data-target="#exampleModal">Contact</p>
  </div>
  <a href="https://emrose.herokuapp.com/" class="footer-emrose">Création site internet: EmRose</a>
</div>
