<div class="footer">
  <div class="footer-links">
    <%= link_to mention_path do %>
      <p>mentions légales</p>
    <% end %>
    <a href="https://www.facebook.com/Ga14-Groupement-Des-Artisans-927608267376647/"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-address">
    <img src="../assets/logo.png" alt="">
  </div>
  <div class="footer-links">
    <a href="https://emrose.herokuapp.com/" style="font-size: 12px">Site réalisé par EMROSE.fr </a>
  </div>
</div>
