<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do %>
      <%= image_tag "wood.png" %>
    <% end %>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Ga14-Groupement-Des-Artisans-927608267376647/"><i class="fab fa-facebook"></i></a>
    <a href="<%=root_path%>" style="font-size: 16px">Nous contacter</a>
  </div>
  <div class="footer-address">
    <p>Atelier Menuisier<br>172 clos du Bois,<br>50260 Le Chêne</p>
  </div>
  <div class="footer-links">
    <a href="https://emrose.herokuapp.com/" style="font-size: 12px">Site réalisé par EMROSE.fr </a>
  </div>
</div>
