<div class="sidebar">
  <button type="button" class="btn-contact" data-toggle="modal" data-target="#exampleModal">
    Contact
  </button>
  <a href="#">Plomberie</a>
  <a href="#">Electricité</a>
  <a href="#">Menuiserie</a>
  <a href="#">Cheminées</a>
  <a href="#">A</a>
  <a href="#">b</a>
  <a href="#">c</a>
  <a href="#">d</a>
  <a href="#">e</a>
  <a href="#">f</a>
  <a href="#">g</a>
</div>
