<div class="pageforeach">
  <img id="logo" src="../assets/aze_logo.png" alt="" >
  <h4>Entreprise de maçonnerie et gros oeuvre à Caen, pour des travaux de construction et de rénovation.</h4><br>
  <h3>coordonnées</h3>
  <p>7 rue du Pont Rouge<br>14320 LAIZE LA VILLE</p>
  <p style="font-weight: bolder;">06 19 76 08 21 - aze2j@live.fr</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Maçonnerie</h5>
    </div>
    <div class="domaine">
      <h5>Gros Oeuvre</h5>
    </div>
    <div class="domaine">
      <h5>Autres</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Opération 1</h3>
  <div class="domaines">
    <img src="../assets/avant1.jpg" alt="">
    <img src="../assets/avant2.jpg" alt="">
    <img src="../assets/apres2.jpg" alt="">
    <img src="../assets/apres1.jpg" alt="">
  </div>
  <h3>Opération 2</h3>
  <div class="domaines">
    <img src="../assets/petitespace1.jpg" alt="">
    <img src="../assets/petitespace2.jpg" alt="">
  </div>
  <h3>Opération 3</h3>
  <div class="domaines">
    <img src="../assets/sdb1.jpg" alt="">
    <img src="../assets/sdb2.jpg" alt="">
    <img src="../assets/sdb3.jpg" alt="">
  </div>
</div>
