<div class="pageforeach">
  <img id="logo" src="../assets/aze_logo.png" alt="" >
  <br>
  <h1>Entreprise de maçonnerie et gros oeuvre à Caen, pour des travaux de construction et de rénovation.</h1><br>
  <h3>coordonnées</h3>
  <p>7 rue du Pont Rouge<br>14320 LAIZE LA VILLE</p>
  <p style="font-weight: bolder;">06 19 76 08 21 - aze2j@live.fr</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Maçonnerie</h5>
    </div>
    <div class="domaine">
      <h5>Gros Oeuvre</h5>
    </div>
    <div class="domaine">
      <h5>Autres</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Rénovation d'un mur en pierre de Caen</h3>
  <div class="domaines">
    <img src="../assets/aze10.jpg" alt="">
    <img src="../assets/aze11.jpg" alt="">
    <img src="../assets/aze12.jpg" alt="">
  </div>
  <h3>Construction d'une piscine d'intérieur</h3>
  <div class="domaines">
    <img src="../assets/aze1.jpg" alt="">
    <img src="../assets/aze2.jpg" alt="">
    <img src="../assets/aze3.jpg" alt="">
  </div>
    <div class="domaines">
    <img src="../assets/aze4.jpg" alt="">
    <img src="../assets/aze5.jpg" alt="">
  </div>
  <h3>Construction d'une maison moderne</h3>
  <div class="domaines">
    <img src="../assets/aze6.jpg" alt="">
    <img src="../assets/aze7.jpg" alt="">
  </div>
  <h3>Rénovation et extension d'un garage</h3>
  <div class="domaines">
    <img src="../assets/aze8.jpg" alt="">
    <img src="../assets/aze9.jpg" alt="">
  </div>
</div>
