<div class="pageforeach">
  <img id="logo" src="../assets/benoist.png" alt="" >
  <br>
  <h1>Distributeur et installateur des plus grandes marques de poêles à bois,<br>à granulés, inserts, cheminées bois, gaz, métalliques.</h1><br>
  <div style="display: flex;">
    <a href="https://www.benoist.fr/" class="button">visitez le site</a>
  </div>
  <h3>à retrouver dans 2 show-rooms :</h3>
  <p>14470 COURSEULLES SUR MER</p>
  <p>14120 MONDEVILLE - Parking Rochebobois</p>
  <p style="font-weight: bolder;">02 31 36 10 15 - contact@benoist.fr</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Poëles à bois et à granulés</h5>
    </div>
    <div class="domaine">
      <h5>Inserts</h5>
    </div>
    <div class="domaine">
      <h5>Cheminées bois, gaz et métalliques</h5>
    </div>
  </div>
  <br>
  <h2>Nos dernières réalisations</h2>
  <br>
  <h3>Cheminées</h3>
  <div class="domaines">
    <img src="../assets/cheminee1.jpg" alt="">
    <img src="../assets/cheminee2.jpg" alt="">
    <img src="../assets/cheminee3.jpg" alt="">
  </div>
  <h3>Poëles</h3>
  <div class="domaines">
    <img src="../assets/poele1.jpg" alt="">
    <img src="../assets/poele2.jpg" alt="">
  </div>
</div>


