<div class="pageforeach">
  <!-- <img id="logo" src="../assets/lfelec.png" alt="" > -->
  <br>
  <h1>Entreprise du bâtiment spécialisée dans la couveture, charpente, terrasse bois, le bardage et l'isolation.</h1><br>
  <h3>coordonnées</h3>
  <p>11 impasse de la Teinture<br>14690 LE BÔ</p>
  <p style="font-weight: bolder;">02 31 09 47 36 - 06 16 38 59 51</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Charpente</h5>
    </div>
    <div class="domaine">
      <h5>Couverture</h5>
    </div>
    <div class="domaine">
      <h5>Bardage</h5>
    </div>
    <div class="domaine">
      <h5>Isolation</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Retrouvez prochainement mes dernières réalisations</h3>
</div>
