<div class="pageforeach">
  <img id="logo" src="../assets/marie.jpg" alt="" >
  <br>
  <h4>Entreprise du bâtiment spécialisée dans le terrassement, les clôtures, l'assainissement et l'aménagement de cours.</h4><br>
  <h3>coordonnées</h3>
  <p>Route de Condé sur Noireau<br>14110 SAINT GERMAIN DU CRIOULT</p>
  <p style="font-weight: bolder;">02 31 69 31 55 - 06 26 82 72 95 - sarlmarie.tp@gmail.com</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Terrassement</h5>
    </div>
    <div class="domaine">
      <h5>Clôtures</h5>
    </div>
    <div class="domaine">
      <h5>Assainissement</h5>
    </div>
    <div class="domaine">
      <h5>Aménagement<br>de cours</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Retrouvez prochainement mes dernières réalisations</h3>
<!--   <h3>Rénovation d'une salle de bain</h3>
  <div class="domaines">
    <img src="../assets/avant1.jpg" alt="">
    <img src="../assets/avant2.jpg" alt="">
    <img src="../assets/apres2.jpg" alt="">
    <img src="../assets/apres1.jpg" alt="">
  </div>
  <h3>Aménagement d'un petit espace</h3>
  <div class="domaines">
    <img src="../assets/petitespace1.jpg" alt="">
    <img src="../assets/petitespace2.jpg" alt="">
  </div>
  <h3>Salle de bain</h3>
  <div class="domaines">
    <img src="../assets/sdb1.jpg" alt="">
    <img src="../assets/sdb2.jpg" alt="">
    <img src="../assets/sdb3.jpg" alt="">
  </div> -->
</div>
