<div class="pageforeach">
  <img id="logo" src="../assets/lfelec.png" alt="" >
  <br>
  <h1>Entreprise du bâtiment spécialisée dans l'électricité générale.</h1><br>
  <h3>coordonnées</h3>
  <p>Courteil<br>14220 Le Hom</p>
  <p style="font-weight: bolder;">09 52 52 15 04 - 06 18 24 69 96 - f.lefortier@gmail.com</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Electricité</h5>
    </div>
<!--     <div class="domaine">
      <h5>Chauffage</h5>
    </div>
    <div class="domaine">
      <h5>Salle de Bain</h5>
    </div> -->
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Retrouvez prochainement mes dernières réalisations</h3>
<!--   <h3>Rénovation d'une salle de bain</h3>
  <div class="domaines">
    <img src="../assets/avant1.jpg" alt="">
    <img src="../assets/avant2.jpg" alt="">
    <img src="../assets/apres2.jpg" alt="">
    <img src="../assets/apres1.jpg" alt="">
  </div>
  <h3>Aménagement d'un petit espace</h3>
  <div class="domaines">
    <img src="../assets/petitespace1.jpg" alt="">
    <img src="../assets/petitespace2.jpg" alt="">
  </div>
  <h3>Salle de bain</h3>
  <div class="domaines">
    <img src="../assets/sdb1.jpg" alt="">
    <img src="../assets/sdb2.jpg" alt="">
    <img src="../assets/sdb3.jpg" alt="">
  </div> -->
</div>
