<div class="pageforeach">
  <img id="logo" style="width: 20%;" src="../assets/logikinov.png" alt="" >
  <br>
  <h4>Entreprise du bâtiment spécialisée dans la menuiserie<br>pour la pose de Fenêtre, Porte d'entrée,<br>Porte de garage, Portail, Volet, Store<br>Pergola, Terrasse, Isolation.</h4><br>
  <div style="display: flex;">
    <a href="https://www.logikinov.com/" class="button">visitez le site</a>
  </div>
  <h3>coordonnées</h3>
  <p>Allée 1 - Avenue des Digues - Zone Normandika<br>14123 FLEURY SUR ORNE</p>
  <p style="font-weight: bolder;">02 31 52 00 78 - benoit.briere@logikinov.com</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Fenêtres</h5>
    </div>
    <div class="domaine">
      <h5>Portes</h5>
    </div>
    <div class="domaine">
      <h5>Store & volet</h5>
    </div>
  </div>
  <br>
  <h2>Nos dernières réalisations</h2>
  <br>
  <h3>Pose de fênetres</h3>
  <div class="domaines">
    <img src="../assets/fenetre1.png" style="width: 120%; margin-right: 16px;" alt="">
  </div>
  <h3>Installation d'un portail</h3>
  <div class="domaines">
    <img src="../assets/portail1.png" alt="">
  </div>
  <h3>Pose d'une pergola bioclimatique avec une paroi en verre</h3>
  <div class="domaines">
    <img src="../assets/pergola1.png" alt="">
    <img src="../assets/pergola2.png" alt="">
    <img src="../assets/pergola3.png" alt="">
  </div>
</div>

