<div class="pageforeach">
  <img id="logo" src="../assets/logikinov.png" alt="" >
  <br>
  <h4>Entreprise du bâtiment spécialisée dans la menuiserie pour la pose de Fenêtre, Porte d'entrée,<br>Porte de garage, Portail, Volet, Store<br>Pergola, Terrasse, Isolation.</h4><br>
  <h3>coordonnées</h3>
  <p>Allée 1 - Avenue des Digues - Zone Normandika<br>14123 FLEURY SUR ORNE</p>
  <p style="font-weight: bolder;">02 31 52 00 78 - benoit.briere@logikinov.com</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Fenêtres</h5>
    </div>
    <div class="domaine">
      <h5>Portes</h5>
    </div>
    <div class="domaine">
      <h5>Store & volet</h5>
    </div>
  </div>
  <br>
  <h2>Nos dernières réalisations</h2>
  <br>
  <h3>Retrouvez prochainement mes dernières réalisations</h3>
  <!-- <div class="domaines">
    <img src="../assets/avant1.jpg" alt="">
    <img src="../assets/avant2.jpg" alt="">
    <img src="../assets/apres2.jpg" alt="">
    <img src="../assets/apres1.jpg" alt="">
  </div>
  <h3>Aménagement d'un petit espace</h3>
  <div class="domaines">
    <img src="../assets/petitespace1.jpg" alt="">
    <img src="../assets/petitespace2.jpg" alt="">
  </div>
  <h3>Salle de bain</h3>
  <div class="domaines">
    <img src="../assets/sdb1.jpg" alt="">
    <img src="../assets/sdb2.jpg" alt="">
    <img src="../assets/sdb3.jpg" alt="">
  </div> -->
</div>

