<div class="pageforeach">
  <img id="logo" src="../assets/mattard.png" alt="" >
  <br>
  <h4>Entreprise du bâtiment spécialisée dans la pose de carrelage.</h4>
  <div style="display: flex;">
    <a href="https://www.mattard-carrelage.fr/" class="button">visitez le site</a>
  </div>
  <h3>coordonnées</h3>
  <p>Chemin Croix Saint Pierre<br>14670 SAINT-PAIR</p>
  <p style="font-weight: bolder;">02 31 39 84 50 - 06 28 32 96 76 - stephmatt.carrelage@aliceadsl.fr</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Carrelage</h5>
    </div>
    <div class="domaine">
      <h5>Revêtement sols</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Pose de faïence au sol</h3>
  <div class="domaines">
    <img src="../assets/sol1.jpg" alt="sol faïence wc mattard">
    <img src="../assets/sol2.jpg" alt="carrelage salle de bain mattard">
    <img src="../assets/sol3.jpg" alt="sol-poli caen mattard">
  </div>
  <h3>Pose de faïence et sol pour salle de bain</h3>
  <div class="domaines">
    <img src="../assets/sdbfaience1.jpg" alt="faïence-sol-carrelage-mattard">
    <img src="../assets/sdbfaience2.jpg" alt="baignoire-carrelage-mattard">
  </div>
  <h3>Pose de mur de parement et carrelage au sol</h3>
  <div class="domaines">
    <img src="../assets/parement.jpg" alt="parement-mural-pierre">
    <img src="../assets/carrelage-imitation.png" alt="carrelage-imitation-parquet">
    <img src="../assets/grands-carreaux-caen.jpg" alt="grands-carreaux-caen">
  </div>
</div>
