<div class="pageforeach">
  <img id="logo" src="../assets/nc.png" alt="" >
  <br>
  <h4>Entreprise du bâtiment spécialisée dans la vente, l’installation,<br>le SAV et l’entretien des systèmes de chauffage.dans les travaux de plomberie et chauffage.</h4><br>
    <div style="display: flex;">
    <a href="https://www.normandie-chauffage.fr/" class="button">visitez le site</a>
  </div>
  <h3>coordonnées</h3>
  <p>491 rue des Artisans<br>14670 TROARN</p>
  <p style="font-weight: bolder;">julien.nc14@gmail.com - 06 74 96 37 00</p>


  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Pompe à chaleur</h5>
    </div>
    <div class="domaine">
      <h5>Chaudière à granulé</h5>
    </div>
    <div class="domaine">
      <h5>Chaudière GAZ / FIOUL</h5>
    </div>
    <div class="domaine">
      <h5>Ballon thermodynamique</h5>
    </div>
    <div class="domaine">
      <h5>Climatisation</h5>
    </div>
    <div class="domaine">
      <h5>Adoucisseur</h5>
    </div>
    <div class="domaine">
      <h5>Radiateur Électrique</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Installation de chaudières à granulé</h3>
  <div class="domaines">
    <img src="../assets/chauffage1.jpg" alt="">
    <img src="../assets/chauffage2.jpg" alt="">
  </div>
  <h3>Installation de pompes à chaleur</h3>
  <div class="domaines">
    <img src="../assets/chauffage3.jpg" alt="">
    <img src="../assets/chauffage4.jpg" alt="">
    <img src="../assets/chauffage5.jpg" alt="">
  </div>
  <h3>Pose de climatisation</h3>
  <div class="domaines">
    <img src="../assets/chauffage6.jpg" alt="">
    <img src="../assets/chauffage7.jpg" alt="">
    <img src="../assets/chauffage8.jpg" alt="">
    <img src="../assets/chauffage9.jpg" alt="">
  </div>
</div>
