<div class="pageforeach">
  <img id="logo" src="../assets/picant.png" alt="" >
  <br>
  <a href="https://www.peinture-picant.com/" class="button">visitez le site</a>
  <h4>Entreprise du bâtiment spécialisée dans la peinture décoration, revêtement sols et murs<br>Ravalement - Vitrerie</h4><br>
  <h3>coordonnées</h3>
  <p>6 rue Camille Blaisot<br>14210 Evrecy</p>
  <p style="font-weight: bolder;">02 31 80 44 00 - 06 82 15 04 89</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Peinture</h5>
    </div>
    <div class="domaine">
      <h5>Décoration</h5>
    </div>
    <div class="domaine">
      <h5>Revêtement</h5>
    </div>
    <div class="domaine">
      <h5>Ravalement</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Retrouvez prochainement mes dernières réalisations</h3>
</div>
