<div style="min-height: 100vh; padding: 32px; background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.4)), url('../assets/background.jpg'); background-size: cover; background-position: center;">
  <h1>Logo d'émilien</h1>
  <h2>coordonnées</h2>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Plomberie</h5>
    </div>
    <div class="domaine">
      <h5>Salle de Bain</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Rénovation d'une salle de bain</h3>
  <div class="domaines">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
  <h3>Aménagement d'un petit espace</h3>
  <div class="domaines">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
</div>
