<div style="min-height: 100vh; padding: 32px; background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.4)), url('../assets/background.jpg'); background-size: cover; background-position: center;">
  <img src="../assets/poncet.jpg" alt="">
  <h2>coordonnées</h2>
  <p>Entreprise du bâtiment spécialisée dans les travaux de plomberie et chauffage.</p>
  <p>Lieu-dit la Pépinerie<br>14250 TESSEL</p>
  <p>06 25 15 05 70 - poncetemilien@hotmail.fr</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Plomberie</h5>
    </div>
    <div class="domaine">
      <h5>Salle de Bain</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Rénovation d'une salle de bain</h3>
  <div class="domaines">
    <img src="../assets/avant1.jpg" alt="">
    <img src="../assets/avant2.jpg" alt="">
    <img src="../assets/apres1.jpg" alt="">
    <img src="../assets/apres2.jpg" alt="">
  </div>
  <h3>Aménagement d'un petit espace</h3>
  <div class="domaines">
    <img src="../assets/petitespace1.jpg" alt="">
    <img src="../assets/petitespace2.jpg" alt="">
  </div>
  <h3>Salle de bain</h3>
  <div class="domaines">
    <img src="../assets/sdb1.jpg" alt="">
    <img src="../assets/sdb2.jpg" alt="">
    <img src="../assets/sdb3.jpg" alt="">
  </div>
</div>
