<div class="pageforeach">
  <img id="logo" src="../assets/profilamenagement.png" alt="" >
  <br>
  <a href="https://www.peinture-picant.com/" class="button">visitez le site</a>
  <h4>Entreprise du bâtiment spécialisée dans la menuiserie et l'agencement sur mesure<br>Cuisine- Dressing - Bureau<br>Aménagement de véhicules et remorques
  pour Foodtruck & Loisir</h4><br>
  <h3>coordonnées</h3>
  <p>ZA des Cerisiers<br>14210 Evrecy</p>
  <p style="font-weight: bolder;">02 31 28 06 00 - 06 60 87 18 16</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Menuiserie et Agencement sur mesure</h5>
    </div>
    <div class="domaine">
      <h5>Cuisine</h5>
    </div>
    <div class="domaine">
      <h5>Dressing</h5>
    </div>
    <div class="domaine">
      <h5>Bureau</h5>
    </div>
    <div class="domaine">
      <h5>Aménagement de véhicules</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Retrouvez prochainement mes dernières réalisations</h3>
</div>
