<div class="pageforeach">
  <img id="logo" src="../assets/profilamenagement.png" alt="" >
  <br>
  <h4>Entreprise du bâtiment spécialisée dans la menuiserie et l'agencement sur mesure<br>Cuisine- Dressing - Bureau<br>Aménagement de véhicules et remorques
  pour Foodtruck & Loisir.</h4><br>
  <div style="display: flex;">
    <a href="https://www.profil-amenagement.fr" class="button">visitez le site</a>
  </div>
  <h3>coordonnées</h3>
  <p>ZA des Cerisiers<br>14210 Evrecy</p>
  <p style="font-weight: bolder;">02 31 28 06 00 - 06 60 87 18 16</p>
  <h2 style="margin-top: 24px;">Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Menuiserie et<br>Agencement sur mesure</h5>
    </div>
    <div class="domaine">
      <h5>Cuisine</h5>
    </div>
    <div class="domaine">
      <h5>Dressing</h5>
    </div>
    <div class="domaine">
      <h5>Bureau et<br> Rangement</h5>
    </div>
    <div class="domaine">
      <h5>Aménagement de véhicules</h5>
    </div>
  </div>
  <br>
  <h2>Nos dernières réalisations</h2>
  <br>
  <h3>Cuisine</h3>
  <div class="domaines">
    <img src="../assets/cuisine.png" alt="">
    <img src="../assets/cuisine2.jpg" alt="">
    <img src="../assets/cuisine3.jpg" alt="">
  </div>
  <h3>Dressing</h3>
  <div class="domaines">
    <img src="../assets/dressing.jpg" alt="">
    <img src="../assets/dressing2.jpg" alt="">
  </div>
  <h3>Bureau & Rangement</h3>
  <div class="domaines">
    <img src="../assets/bureau1.jpeg" alt="">
    <img src="../assets/bureau2.jpeg" alt="">
    <img src="../assets/bureau3.jpeg" alt="">
  </div>
  <h3>Aménagement</h3>
  <div class="domaines">
    <img src="../assets/commerce.jpg" alt="">
    <img src="../assets/commerce2.jpg" alt="">
    <img src="../assets/commerce3.jpg" alt="">
  </div>
  <div class="domaines">
    <img src="../assets/foodtruck.jpg" alt="">
    <img src="../assets/foodtruck2.jpg" alt="">
    <img src="../assets/foodtruck3.jpg" alt="">
  </div>
</div>
