<div class="pageforeach">
  <img id="logo" src="../assets/rl_amenagement.png" alt="" >
  <br>
  <h4>Entreprise du bâtiment spécialisée dans l'aménagement - plâtrerie plaquiste</h4><br>
  <h3>coordonnées</h3>
  <br>
  <p>RD n°37 - Le Fresned'Argences<br>14370 ARGENCES</p>
  <p style="font-weight: bolder;">07 81 16 93 81 - a.lefrancois@rlamenagement.com</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Aménagement<br>intérieur</h5>
    </div>
    <div class="domaine">
      <h5>Plaquiste</h5>
    </div>
    <div class="domaine">
      <h5>Plâtre</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Retrouvez prochainement mes dernières réalisations</h3>
<!--   <h3>Rénovation d'une salle de bain</h3>
  <div class="domaines">
    <img src="../assets/avant1.jpg" alt="">
    <img src="../assets/avant2.jpg" alt="">
    <img src="../assets/apres2.jpg" alt="">
    <img src="../assets/apres1.jpg" alt="">
  </div>
  <h3>Aménagement d'un petit espace</h3>
  <div class="domaines">
    <img src="../assets/petitespace1.jpg" alt="">
    <img src="../assets/petitespace2.jpg" alt="">
  </div>
  <h3>Salle de bain</h3>
  <div class="domaines">
    <img src="../assets/sdb1.jpg" alt="">
    <img src="../assets/sdb2.jpg" alt="">
    <img src="../assets/sdb3.jpg" alt="">
  </div> -->
</div>
