<div class="pageforeach" style="float: none;">
  <img id="logo" src="../assets/logosam.png" alt="" >
  <h1>Entreprise du bâtiment spécialisée dans les travaux d'aménagement extérieur.</h1><br>
  <div style="display: flex;">
    <a href="https://www.samandco-tp.com/" class="button">visitez le site</a>
  </div>
  <h3>coordonnées</h3>
  <p>1 route de Maltot - RD 147<br>14320 FEUGUEROLLES BULLY</p>
  <p style="font-weight: bolder;">06 63 69 13 43 - contact@samandco-tp.com</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Assainissement et<br>fosses toutes eaux</h5>
    </div>
    <div class="domaine">
      <h5>Terrassement et démolition</h5>
    </div>
    <div class="domaine">
      <h5>Aménagement en enrobée</h5>
    </div>
  </div>
  <div class="domaines">
    <div class="domaine">
      <h5>Aménagement paysager</h5>
    </div>
    <div class="domaine">
      <h5>Clôture et portail</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Terrassement</h3>
  <div class="domaines">
    <img src="../assets/sam1.jpg" alt="">
  </div>
  <h3>Pose d'enrobé</h3>
  <div class="domaines">
    <img src="../assets/sam2.jpg" alt="">
  </div>
  <h3>Réalisation d'une fosse d'assainissement</h3>
  <div class="domaines">
    <img src="../assets/sam3.jpg" alt="">
  </div>
  <h3>Pose d'un portail</h3>
  <div class="domaines">
    <img src="../assets/sam4.jpg" alt="">
  </div>
  <h3>Aménagement paysager</h3>
  <div class="domaines">
    <img src="../assets/sam5.jpg" alt="">
  </div>
</div>
