<div class="pageforeach">
  <img id="logo" src="../assets/poncet.jpg" alt="" >
  <br>
  <h4>Entreprise du bâtiment spécialisée dans les travaux de d'aménagement extérieur.</h4><br>
  <div style="display: flex;">
    <a href="https://www.samandco-tp.com/" class="button">visitez le site</a>
  </div>
  <h3>coordonnées</h3>
  <p>1 route de Maltot - RD 147<br>14320 FEUGUEROLLES BULLY</p>
  <p style="font-weight: bolder;">06 63 69 13 43 - contact@samandco-tp.com</p>
  <h2>Interventions</h2>
  <div class="domaines">
    <div class="domaine">
      <h5>Assainissement et fosses toutes eaux</h5>
    </div>
    <div class="domaine">
      <h5>Terrassement et démolition</h5>
    </div>
    <div class="domaine">
      <h5>Aménagement en enrobée</h5>
    </div>
    <div class="domaine">
      <h5>Aménagement paysager</h5>
    </div>
    <div class="domaine">
      <h5>Clôture et portail</h5>
    </div>
  </div>
  <br>
  <h2>Mes dernières réalisations</h2>
  <br>
  <h3>Rénovation d'une salle de bain</h3>
  <div class="domaines">
    <img src="../assets/avant1.jpg" alt="">
    <img src="../assets/avant2.jpg" alt="">
    <img src="../assets/apres2.jpg" alt="">
    <img src="../assets/apres1.jpg" alt="">
  </div>
  <h3>Aménagement d'un petit espace</h3>
  <div class="domaines">
    <img src="../assets/petitespace1.jpg" alt="">
    <img src="../assets/petitespace2.jpg" alt="">
  </div>
  <h3>Salle de bain</h3>
  <div class="domaines">
    <img src="../assets/sdb1.jpg" alt="">
    <img src="../assets/sdb2.jpg" alt="">
    <img src="../assets/sdb3.jpg" alt="">
  </div>
</div>
