.domaines {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  img {
    width: 90%;
    height: 40vh;
    border-radius: 8px;
  }
}

.domaine {
  width: 100%;
  height: 30vh;
  border-radius: 8px;
  background: #1C2E51;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 567px) {
  .domaines {
    grid-template-columns: 1fr;
  }
  .domaine {
    height: 20vh;
    width: 90%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 568px) {
  .domaines {
    grid-template-columns: 1fr 1fr;
    img {
      height: 50vh;
    }
  }
  .domaine {
    height: 50vh;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .domaines {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    img {
      max-width: 30vw;
      height: 40vh;
    }
  }
  .domaine {
    height: 30vh;
  }
}
