.gift-choice {
  cursor: pointer;
  display: flex;
  flex: 0 0 30%;
  margin: 16px;
  text-align: center;
  // background-color: #b7b7b7;
  border-radius: 5px;
  opacity: 0.3;
  // font-weight: bold;
  &:hover {
    opacity: 1;
    border: solid 2px red;
    cursor: pointer;
  }
  &.active {
    border: solid 4px $green;
    font-weight: bolder;
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 991px) {
 .gift-choice {
    width: 30%;
    a {
      width: 70%;
      padding: 6px 10px 6px 10px;
    }
  }
}
