// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "button";
@import "card";
@import "footer";
@import "navbar";
@import "realisation";
@import "domaine";

.resume {
  padding: 48px 0 48px 0;
  text-align: center;
}

.label {
  padding: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 32px;
}

.avis {
  padding: 32px;
}

.pageforeach {
  min-height: 100vh;
  padding: 32px;
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.4)), url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
}

#logo {
  max-width: 50%;
  height: auto;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 991px) {
 #logo {
    max-width: 90%;
    height: auto;
  }
}
