// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "button";
@import "card";
@import "domaine";
@import "footer";
@import "form";
@import "navbar";
@import "realisation";
@import "slider";

.home {
  width: 90%;
  float: right;
  background-image: linear-gradient(rgba(155,155,155,0.4),rgba(155,155,155,0.4)), url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
}

.blueline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
  max-width: 150%;
  margin-top: 20px;
  h3 {
    width: 70%;
    text-align: center;
  }
}


.resume {
  padding: 5vh;
  p {font-size: 1.25rem;}
}

.resume-left {
  max-width: 40%;
  text-align: left;
}

.resume-right {
  max-width: 40%;
  text-align: right;
  float: right;
}

.label {
  padding: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 32px;
}

.avis {
  padding: 32px;
}

.pageforeach {
  width: 90%;
  float: right;
  min-height: 100vh;
  padding: 32px;
  background-image: linear-gradient(rgba(155,155,155,0.7),rgba(155,155,155,0.4)), url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
}

#logo {
  width: 33%;
  height: auto;
  display: block;
  margin: auto;
}

.subtitle_logo {
  background-color: #388190;
  color: white;
  font-weight: bolder;
  font-size: 0.75em;
  width: 30vw;
  text-align: center;
  display: block;
  margin: auto;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 991px) {
 #logo {
    max-width: 90%;
    height: auto;
  }
  .home {
    width: 70%;
  }
  .pageforeach {
    width: 70%;
  }
  .resume {
    p {font-size: 0.75rem;}
    margin-bottom :10vh;
  }
  .resume-left {
    max-width: 100%;
    text-align: justify;
  }
  .resume-right {
    max-width: 100%;
    text-align: justify;
  }
  .blueline {
    margin-top: 24px;
    h3 {
      font-size: 1.25rem;
    }
  }
}

