.realisation {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    height: 50vh; width: auto; max-width: 100%;
  }
}

