/* Logo Slider */

.logo-slider {
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.logo-slider::before, .logo-slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 175px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.logo-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.logo-slider::before {
  left: 0;
  top: 0;
}

.logo-slider .logo-slide-track {
  -webkit-animation: logo-scroll 60s linear infinite alternate;
  animation: logo-scroll 60s linear infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 3);
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

// .logo-slider .logo-slide-track {
//   -webkit-animation: logo-scroll 0s linear infinite alternate;
//   animation: logo-scroll 0s linear infinite alternate;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   width: calc(250px * 3);
//   animation-duration: 15s;
//   animation-iteration-count: infinite;
// }

.logo-slider .slide {
  display: flex;
  align-items: center;
  img {
    height: 20vh;
    width: auto;
    padding: 20px;
  }
}

@-webkit-keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
